extends  ../_skeleton



block variables
  - var activeCategory = 'pages'
  - var pageName = 'Coming Soon'

block page 
  section.section.section-layout-1
    .section-layout-1-image(style='background-image: url(images/bg-image-2.jpg);')
    .section-layout-1-inner: .section-layout-1-content.container
      .section-layout-1-header
        +logo
      .section-layout-1-main
        h3 We're getting ready to launch in
        // Countdown
        .countdown.countdown-modern(data-type='until' data-time='31 May 2022 16:00' data-format='dhms')
        p.big Our website is under construction, we are working very hard to give you the best experience on our new web site.

        .offset-top-1
          h3 Stay ready, we`re launching soon
          form.rd-mailform.rd-form.form-inline(
          data-form-output='form-output-global'
          data-form-type='subscribe'
          method='post'
          action='bat/rd-mailform.php')
            .form-wrap
              input.form-input(id='subscribe-form-email' type='email' name='email' data-constraints='@Email @Required')
              label.form-label(for='subscribe-form-email') E-mail
            .form-button
              button.button.button-shadow.button-primary.button-winona(type='submit') Subscribe
      .section-layout-1-footer
        +rights
