extends  ../_skeleton

//- Includes
include ../components/_ui-header-classic
include ../components/_ui-footer-classic
include ../components/_ui-profile-modern

block variables
  - var activeCategory = 'pages'
  - var pageName = 'Our Team 2'

block page 
  // Page Header
  +rd-navbar-header-classic({
    logoDark: brand.default,
    logoLight: brand.defaultInverse
  })

  +breadcrumbs({
    category: activeCategory,
    path: [pageName]
  })

  section.section.section-lg
    .container
      .row.row-50.rox-xl-70
        .col-md-10.col-lg-4.col-xl-3: .block-2
          h3 Join #[br.d-none.d-xl-block] Our Team
          p: span(style='max-width: 520px;') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat eros ac finibus congue. Integer
          hr
          ul.list-style-2.list-style-2_2-cols-responsive.block-1
            li Creative Space
            li Cookies
            li Growing Career
            li Benefits
          a.button.button-secondary(href='contact-us.html') Contact Us

        .col-lg-8.col-xl-9
          .row.row-50.row-xl-70
            .col-sm-6.col-xl-4
              +profile-modern({
                img: 'team-1-369x315',
                name: 'Michael Logan',
                position: 'Managing Director'
              })

            .col-sm-6.col-xl-4
              +profile-modern({
                img: 'team-2-369x315',
                name: 'Jane Williams',
                position: 'Executive Consultant'
              })

            .col-sm-6.col-xl-4
              +profile-modern({
                img: 'team-3-369x315',
                name: 'Gregory Smith',
                position: 'Safety Consultant'
              })

            .col-sm-6.col-xl-4
              +profile-modern({
                img: 'team-5-369x315',
                name: 'Amy Wright',
                position: 'Accountant'
              })

            .col-sm-6.col-xl-4
              +profile-modern({
                img: 'team-6-369x315',
                name: 'Larry Turner',
                position: 'Marketing Manager'
              })

            .col-sm-6.col-xl-4
              +profile-modern({
                img: 'team-7-369x315',
                name: 'Keith Watson',
                position: 'PR Manager'
              })

  // Page Footer
  +footer-classic({
    logo: brand.default,
    text: 'Since 1999, we have been helping American businesses thrive.'
  })
