mixin progress-bar-linear(progress)
	// Linear progress bar
	article.progress-linear&attributes(attributes)
		.progress-header
			p= progress.title
			span.progress-linear-counter.progress-value= progress.valueTo
		.progress-bar-linear-wrap
			.progress-bar-linear.progress-linear-bar
