include ../components/_ui-quote-modern

// Isotope
.isotope-outer: .row.row-30.row-xl-40.isotope(data-isotope-layout='masonry')
	.col-md-6.col-lg-4.isotope-item.wow.fadeInUpSmall
		+quote-modern({
			avatar: 'testimonials-1-74x74',
			cite: 'Ann Smith',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Cum hydra accelerare, omnes lunaes amor salvus, mirabilis impositioes. Heu, index! Fiscinas trabem, tanquam fatalis messor.

	.col-md-6.col-lg-4.isotope-item.wow.fadeInUpSmall(data-wow-delay='.1s')
		+quote-modern({
			avatar: 'testimonials-2-74x74',
			cite: 'John Doe',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Albus victrixs ducunt ad cannabis. Pius, dexter caniss callide prensionem de ferox, varius ionicis tormento! Peregrinationes.

	.col-md-6.col-lg-4.isotope-item.wow.fadeInUpSmall(data-wow-delay='.3s')
		+quote-modern({
			avatar: 'testimonials-3-74x74',
			cite: 'Jane Pearson',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Cur mensa persuadere? Impositios manducare! Luba, cannabis, et fides. Cum index peregrinationes, omnes imberes desiderium festus.

	.col-md-6.col-lg-4.isotope-item.wow.fadeInUpSmall(data-wow-delay='.1s')
		+quote-modern({
			avatar: 'testimonials-5-74x74',
			cite: 'Kate Wilson',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Cum gluten volare, omnes hibridaes perdere nobilis, rusticus urbses. Ubi est varius onus? Talis, albus lapsuss interdum resuscitabo de grandis, domesticus solem!

	.col-md-6.col-lg-4.isotope-item.wow.fadeInUpSmall(data-wow-delay='.2s')
		+quote-modern({
			avatar: 'testimonials-4-74x74',
			cite: 'Will McMillan',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Ecce, clemens brabeuta! Hercle, urbs festus!, fatalis lixa! Nobilis, altus triticums sensim anhelare de clemens, secundus spatii! Mineraliss experimentum.

	.col-md-6.col-lg-4.isotope-item.wow.fadeInUpSmall(data-wow-delay='.1s')
		+quote-modern({
			avatar: 'testimonials-6-74x74',
			cite: 'Peter Wilson',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Nunquam carpseris brodium. Vae, salvus mortem! Hercle, solitudo altus!, tata! Varius, peritus brodiums virtualiter desiderium de primus, ferox onus.

	.col-md-6.col-lg-4.isotope-item(data-load-trigger='#button-load')
		+quote-modern({
			avatar: 'testimonials-3-74x74',
			cite: 'Lisa Butler',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Zeta de rusticus terror, tractare exsul! Cum domus manducare, omnes elogiumes locus altus, barbatus rumores. Cum classis messis, omnes mensaes talem camerarius, emeritis xiphiases.


	.col-md-6.col-lg-4.isotope-item(data-load-trigger='#button-load')
		+quote-modern({
			avatar: 'testimonials-2-74x74',
			cite: 'Dennis Flores',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Index, stella, et bromium. Amicitia noster usus est. Cum secula crescere, omnes amores imperium varius, audax hibridaes!


	.col-md-6.col-lg-4.isotope-item(data-load-trigger='#button-load')
		+quote-modern({
			avatar: 'testimonials-1-74x74',
			cite: 'Mary Cook',
			position: 'Regular Customer',
			time: 'Mar 24, 2020'
		})
			p Hercle, cacula salvus!. Agripetas cantare, tanquam festus cobaltum. Festus adiurators ducunt ad particula. Lunas cantare in castus antverpia! Cum candidatus favere, omnes torquises locus dexter, alter valebates.

button.button-load.button-load-icon.linearicons-sync#button-load
