// Pricing Table Modern
.pt-modern#tabs-pt.wow.fadeIn
  // Nav tabs
  .nav-tabs-outer: ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='#tabs-pt-1' data-bs-toggle='tab')
        span Startup
        span.nav-item-indicator(role='presentation')

      ul.list.pt-modern-features
        li
          span.icon
          span Consulting
        li
          span.icon
          span Market Analysis
        li
          span.icon
          span Funds Management
        li(aria-disabled='true')
          span.icon
          span PR & Marketing
        li(aria-disabled='true')
          span.icon
          span Business Planning
        li(aria-disabled='true')
          span.icon
          span Audit

    li.nav-item
      a.nav-link(href='#tabs-pt-2' data-bs-toggle='tab')
        span Standard
        span.nav-item-indicator(role='presentation')
        span.badge.badge-accent Popular
      ul.list.pt-modern-features
        li
          span.icon
          span Consulting
        li
          span.icon
          span Market Analysis
        li
          span.icon
          span Funds Management
        li
          span.icon
          span PR & Marketing
        li(aria-disabled='true')
          span.icon
          span Business Planning
        li(aria-disabled='true')
          span.icon
          span Audit


    li.nav-item
      a.nav-link(href='#tabs-pt-3' data-bs-toggle='tab')
        span Business
        span.nav-item-indicator(role='presentation')
      ul.list.pt-modern-features
        li
          span.icon
          span Consulting
        li
          span.icon
          span Market Analysis
        li
          span.icon
          span Funds Management
        li
          span.icon
          span PR & Marketing
        li
          span.icon
          span Business Planning
        li(aria-disabled='true')
          span.icon
          span Audit

    li.nav-item
      a.nav-link(href='#tabs-pt-4' data-bs-toggle='tab')
        span Premium
        span.nav-item-indicator(role='presentation')
      ul.list.pt-modern-features
        li
          span.icon
          span Consulting
        li
          span.icon
          span Market Analysis
        li
          span.icon
          span Funds Management
        li
          span.icon
          span PR & Marketing
        li
          span.icon
          span Business Planning
        li
          span.icon
          span Audit

  // Tab panes
  .tab-content
    div#tabs-pt-1.tab-pane.fade.show.active
      .pt-modern-price-outer.bg-gray-100
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 5
          span.pt-modern-price-small 99
        p.pt-modern-price-caption per month
      .pt-modern-price-outer
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 60
          span.pt-modern-price-small 00
        p.pt-modern-price-caption per year

      .pt-modern-element
        a.link.link-modern(href='#')
          span.icon.mdi.mdi-arrow-right
          span Get Started

    div#tabs-pt-2.tab-pane.fade
      .pt-modern-price-outer.bg-gray-100
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 7
          span.pt-modern-price-small 99
        p.pt-modern-price-caption per month
      .pt-modern-price-outer
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 70
          span.pt-modern-price-small 00
        p.pt-modern-price-caption per year

      .pt-modern-element
        a.link.link-modern(href='#')
          span.icon.mdi.mdi-arrow-right
          span Get Started

    div#tabs-pt-3.tab-pane.fade
      .pt-modern-price-outer.bg-gray-100
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 8
          span.pt-modern-price-small 99
        p.pt-modern-price-caption per month
      .pt-modern-price-outer
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 80
          span.pt-modern-price-small 00
        p.pt-modern-price-caption per year

      .pt-modern-element
        a.link.link-modern(href='#')
          span.icon.mdi.mdi-arrow-right
          span Get Started

    div#tabs-pt-4.tab-pane.fade
      .pt-modern-price-outer.bg-gray-100
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 9
          span.pt-modern-price-small 99
        p.pt-modern-price-caption per month
      .pt-modern-price-outer
        p.pt-modern-price
          span.pt-modern-price-currency $
          span.pt-modern-price-value 90
          span.pt-modern-price-small 00
        p.pt-modern-price-caption per year

      .pt-modern-element
        a.link.link-modern(href='#')
          span.icon.mdi.mdi-arrow-right
          span Get Started
