.row.row-30.row-xl-60
  .col-sm-6.col-lg-4
    // Box Modern
    article.box-modern.wow.fadeIn(data-anime='circles-2')
      .box-modern-media
        .box-modern-icon.mdi.mdi-television-guide
        .box-modern-circle.box-modern-circle-1
      p.box-modern-title Market Analysis
      .box-modern-text
        p We support your business with fact-based market research.
  .col-sm-6.col-lg-4
    // Box Modern
    article.box-modern.wow.fadeIn(data-anime='circles-2')
      .box-modern-media
        .box-modern-icon.mdi.mdi-elevation-rise
        .box-modern-circle.box-modern-circle-1
      p.box-modern-title Funds Management
      .box-modern-text
        p Allowing you to successfully deal with your company’s funds.
  .col-sm-6.col-lg-4
    // Box Modern
    article.box-modern.wow.fadeIn(data-anime='circles-2')
      .box-modern-media
        .box-modern-icon.mdi.mdi-presentation
        .box-modern-circle.box-modern-circle-1
      p.box-modern-title PR & Marketing
      .box-modern-text
        p Helping clients expand awareness and manage their reputation.
  .col-sm-6.col-lg-4
    // Box Modern
    article.box-modern.wow.fadeIn(data-anime='circles-2')
      .box-modern-media
        .box-modern-icon.mdi.mdi-format-list-numbers
        .box-modern-circle.box-modern-circle-1
      p.box-modern-title Business Planning
      .box-modern-text
        p Creating an efficient business plan designed to fit your company.
  .col-sm-6.col-lg-4
    // Box Modern
    article.box-modern.wow.fadeIn(data-anime='circles-2')
      .box-modern-media
        .box-modern-icon.mdi.mdi-magnify
        .box-modern-circle.box-modern-circle-1
      p.box-modern-title Audit
      .box-modern-text
        p Deep and detailed investigation of your company’s activity.
  .col-sm-6.col-lg-4
    // Box Modern
    article.box-modern.wow.fadeIn(data-anime='circles-2')
      .box-modern-media
        .box-modern-icon.mdi.mdi-message-text-outline
        .box-modern-circle.box-modern-circle-1
      p.box-modern-title Consulting
      .box-modern-text
        p Focusing on our clients’ most critical issues and opportunities.

