.thumbnail-classy
  .thumbnail-classy-image.bg-image(style='background-image: url(images/web-app-1-650x500.jpg);')
  .thumbnail-classy-caption
    a.thumbnail-classy-button.mdi.mdi-play(href='https://www.youtube.com/watch?v=I5FlP07kdvM' data-lightgallery='item')
      svg.thumbnail-classy-button-shape(width='86' height='86' viewbox='0 0 88 88' xmlns='http://www.w3.org/2000/svg' shape-rendering='crispEdges')
        rect(x='1' y='1' width='86' height='86' rx='6' ry='6')
