-
  var
    htmlClass = 'wide wow-animation',
    fonts = '//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CMuli:100,300,400,600,800',
    brand = {
      name: 'Businet',
      slogan: 'Simple, intuitive and powerful',
      default: { normal: 'logo-default-148x34', retina: 'logo-default-297x63' },
      defaultInverse: { normal: 'logo-inverse-148x34', retina: 'logo-inverse-297x63' },
      mobileApp: { normal: 'logo-mobile-app-110x41', retina: 'logo-mobile-app-220x82' },
      mobileAppInverse: { normal: 'logo-mobile-app-inverse-110x41', retina: 'logo-mobile-app-inverse-220x82' },
      desktopApp: { normal: 'logo-desktop-app-111x41', retina: 'logo-desktop-app-222x82' },
      desktopAppInverse: { normal: 'logo-desktop-app-inverse-111x41', retina: 'logo-desktop-app-inverse-222x82' },
      messenger: { normal: 'logo-messenger-109x39', retina: 'logo-messenger-218x78' },
      messengerInverse: { normal: 'logo-messenger-inverse-109x39', retina: 'logo-messenger-inverse-218x78' },
      webService: { normal: 'logo-web-service-113x38', retina: 'logo-web-service-226x76' },
      webServiceInverse: { normal: 'logo-web-service-inverse-113x38', retina: 'logo-web-service-inverse-226x76' }
    },
    links = {
      post: 'blog-post.html',
      getTemplate: 'https://www.templatemonster.com/website-templates/alice-application-multipage-html5-website-template-70682.html'
    },
    colors = {
      primary: '#3375ec',
      secondary: '#ff6f80'
    },
    menu = [
      {
        title: 'Home',
        category: 'home',
        link: 'index.html'
      },
      {
        title: 'About Us',
        category: 'about-us',
        link: 'about-us.html'
      },
      {
        title: 'Our Team',
        category: 'our-team',
        link: 'our-team.html'
      },
      {
        title: 'Pricing',
        category: 'pricing'
      },
      {
        title: 'Pages',
        category: 'pages',
        link: '#',
        megamenu: [
          {
            list: [
              { title: 'Typography' },
              { title: 'Buttons' },
              { title: 'Forms' },
              { title: 'Tabs and Accordions' },
              { title: 'Progress bars' },
            ]
          },
          {
            list: [
              { title: 'Careers' },
              { title: 'FAQ' },
              { title: 'Testimonials' },
              { title: 'Our Solutions' },
              { title: 'Our Solutions 2' }
            ]
          },
          {
            list: [
              { title: 'Grid system' },
              { title: 'Privacy policy' },
              { title: '404 Page' },
              { title: 'Coming Soon' },
              { title: 'Search results' }
            ]
          },
          {
            list: [
              { title: 'Tables' },
              { title: 'Our Team 2' },
              { title: 'Contact Us' },
              { title: 'Login' },
              { title: 'Register' }
            ]
          }
        ]
      },
      {
        title: 'Contact Us',
        category: 'contact-us',
        link: 'contact-us.html'
      }
    ];
